.dashboard {
    /* background-color: #E2E7F1; */
    background-color: #F3F3F3;
    width: 100%;
    height: 100vh;
    /* overflow: hidden; */
}

#dashboard {
    position: absolute;
    top: 0;
}

*::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

*::-webkit-scrollbar-thumb{
    background-color: rgb(212, 212, 212);
    border-radius: 20px;
}

* {
    scrollbar-width: none;
}

#dashboard * {
    transition: 0.1s;
}

/* ******************************************* */
#mainDashboard {
    width: calc(100% - 90px);
    color: #111;
    background-color: #F3F3F3;
    position: relative;
    margin-left: 70px;
    top: 70px;
    transition: 0.1s;
    font-size: 18px;
}


#dashboardHeader {
    position: fixed;
    top: 0px;
    z-index: 1;
    border-left: 2px solid #E2E7F1;
    border-bottom: 1px solid #E2E7F1;
    /* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; */
    width: 400px;
    height: 70px;
    background-color: #FFFFFF;
    width: 100%;
    overflow: hidden;
    z-index: 9999;
}




#dashboardHeader .header {
    height: inherit;
    display: flex;
    /* width: 100%; */
    width: calc(100% - 20px);

    align-items: center;
    justify-content: space-between;
}

#dashboardHeader .header button:first-child {
    margin: 0px 20px;
    border: none;
    background-color: transparent;
}


#dashboard_content {
    width: 100%;
    /* background-color: #E2E7F1; */
    background-color: #F3F3F3;
    position: absolute;
    height: calc(100vh - 90px);
    overflow: auto;
}

@media only screen and (max-width:989px) {
    #dashboardHeader {
        margin-left: 70px;
    }
}

@media (min-width:990px) {
    .dashboardHeader {
        /* max-width: 720px */
    }
}



/* ********************************************* */

#sidenavDashboard {
    height: 100%;
    max-width: var(--sidnavDashboardWidth, 70px);
    width: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0px;
    background-color: #FFFFFF;
    overflow-x: hidden;
    /* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; */
    overflow-x: hidden;
    transition: 0.1s;
}

#sidenavDashboard .dashboardNavSideHeader {
    width: 100%;
}

#sidenavDashboard .dashboardNavSideHeader .logo {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

#sidenavDashboard .dashboardNavSideHeader .logo img {
    height: 20px;
}

#sidenavDashboard::-webkit-scrollbar {
    width: 10px;
}





/* FOR  BUTTON STYLE */
#sidenavDashboard button {
    display: block;
    background-color: inherit;
    color: #343A40;
    padding: 22px 16px;
    border: none;
    outline: none;
    text-align: left;
    width: 100%;
    cursor: pointer;
    transition: 0.1s;
    font-size: 20px;

}


#sidenavDashboard .dropdownMenuComponent {
    height: 0px;
    overflow: hidden;
    transition: 0.2s;
}

#sidenavDashboard button.active {
    /* background-color: #ccc; */
    font-size: 16px;
    color: #0E9F6E;
}

#sidenavDashboard button:hover {
    /* background-color: #ddd; */
    color: #0E9F6E;
}

/* WIDTH 250px then */

#sidenavDashboard button.withText {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: start;
    padding-left: 25px;
    font-size: 14px;
    padding-top: 15px;
    padding-bottom: 15px;
}

#sidenavDashboard button.onlyIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

#sidenavDashboard #buttonTitle {
    display: none;
}

/* **************************************** */
/* **************FOR LOGO************* */
#sidenavDashboard #full_logo {
    display: none;
}

/* *********************************** SHADOW********************************** */
.boxShadow {
    border: 1px solid #B5B5B5;
}